/**
*
* made by Vladislav Gapurov
* thanks to dankogai for base64.js --> https://github.com/dankogai/js-base64
*
**/
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    position: relative;
    background: #fff;
    text-align: center;
    padding-top: 2em;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
}

/*=================================
=            offcanvas            =
=================================*/

.bar-container {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 60px;
  position: relative;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin: 0 auto;
}

.bar {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    //background-color: #4285f4;
    background-color: transparent;
    overflow: hidden;
    z-index: 1;
    &.open, &.open ~ main {
        -webkit-transform: translate(250px, 0);
        transform: translate(250px, 0);
    }

    .logo {
        -webkit-flex: 1;
        flex: 1;
        font-size: 2em;
        line-height: 60px;
        margin: 0 16px;
        padding: 0;
        color: #fefefe;
        float: none;
        max-width: none;
        font-weight: 300;
        line-height: 60px;

        a {
            text-decoration: none;
            color: inherit;
            font-weight: normal;
        }
    }
    button {
        width: 60px;
        height: 60px;
        background-image: none;
        background-color: hsla(0, 0%, 90%, 1);
        border: none;
        padding: 0;
        transition: background-color 0.2s ease-out;
        -webkit-tap-highlight-color: transparent;
        &:hover {
          background-color: hsla(0, 0%, 75%, 1);
        }
        &:focus {
          background-color: hsla(0, 0%, 90%, 1);
          outline: 0;
        }
        &:active {
          background-color: hsla(0, 0%, 90%, 1);
        }
        img {
          width: 60px;
          height: 60px;
        }
        &.menu img {
          height:24px;
          width: 24px;
        }
  }
}

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.side-nav-container {
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    height: 100%;
    //background-color: #3367D6;
    background-color: hsla(221, 100%, 65%, 1);
    color: #fefefe;
    -webkit-transform: translate(-250px, 0);
    transform: translate(-250px, 0);
    overflow-y: scroll;
    &.open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
     & h4,& ul li a {
        height: auto;
        padding: 19px 20px;
        margin: 0;
        line-height: 1.4;
    }
    h4 {
        background-color: hsla(0, 0%, 90%, 1);;
        color: #3367D6;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
            border-bottom-style: solid;
            border-width: 1px;
            border-color: white;
            padding: 0;
            &::before {
              content: none;
            }
            a {
                display: block;
                text-decoration: none;
                color: white;
                white-space: nowrap;
                transition: background-color 0.2s ease-out;
                &:hover {
                    background-color: rgba(255, 255, 255, 0.2);
                }
                &:focus {
                    background-color: rgba(255, 255, 255, 0.3);
                    outline: 0;
                }
                &:active {
                    background-color: rgba(255, 255, 255, 0.4);
                }
            }
        }
    }

}

.bar, .side-nav-container, main {
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}


main {
  margin: 0 auto;
  /* Height of the header */
  padding: 60px 16px 16px 16px;
  min-height: 100%;
}




/*-----  End of offcanvas  ------*/


input[type=text] {
    &:hover, &:focus {
        padding: 1em;
        margin-top: 0;
    }
    width: 4em;
    padding: 0.2em;
    margin-top: 77px;
    text-align: center;
    font: 3em Verdana, sans-serif;
    background: #fff;
    box-shadow: 0px 1px #ccc;
    outline: none;
    color: #535353;
    border-radius: 1em;
    border: 10px solid rgba(122,122,122,0.9);
    transition: all 0.1s ease-in-out;
}
header {
    font: bold 3em/3.5em georgia;
    color: rgba(69,69,69,0.8);
    text-shadow: 0px -1px 0px #000, 0px 1px 0px #fff;
}
.container {
    position: relative;
    margin: 0 auto;
    min-height: 900px;
    max-height: 900px;
    width: 100%;
}
.robothead {
    position: relative;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    padding: 30px;
    border-radius: 15em;
    border: 10px solid rgba(122,122,122,0.9);
    background: #fff;
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100px;
        height: 100px;
        top: 66px;
        left: -60px;
        right: auto;
        //background: red;
        border-radius: 5em;
        border: 10px solid rgba(122,122,122,0.9);
    }
    &:after {
        @extend &:before;
        left: auto;
        right: -60px;
        width: 100px;
        height: 100px;
    }
    &.left {
        &:before {
            left: -45px;
        }
        &:after {
            left: auto;
            right: -65px;
            width: 106px;
            height: 106px;
        }
    }
    &.right {
        &:before {
            left: -65px;
            width: 106px;
            height: 106px;
        }
        &:after {
            left: auto;
            right: -45px;
        }
    }
    &.top {
        &:before {
            left: -45px;
        }
        &:after {
            left: auto;
            right: -45px;
        }
    }
    &.bottom {
        &:before {
            top: 45px;
        }
        &:after {
            left: auto;
        }
    }

}
.ears {
    display: none;
    z-index: -1;
    position: absolute;
    top: 100px;
    left: -50px;
    height: 100px;
    width: 540px;
    border-radius: 1em;
    border: 10px solid rgba(122,122,122,0.9);
}
.eye {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 45px;
    border: 15px solid rgba(122,122,122,0.9);
    margin: 30px;
    border-radius: 3em;
    background: #fff;
    &:after {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        top: 16px;
        right: 16px;
        background: black;
        border: 5px solid black;
        border-radius: 1em;
    }
    //padding: 5px;
    &:nth-child(even) {
        border: 25px solid rgba(187,27,8,0.9);
    }
    &.left {
        &:after{
            top: 13px;
            right: 23px;
        }
    }
    &.right {
        &:after{
            top: 13px;
            right: 4px;
        }
    }
    &.top {
        &:after{
            top: 4px;
            right: 14px;
        }
         &.right {
            &:after{
                top: 7px;
                right: 6px;
            }
        }
        &.left {
            &:after{
                top: 7px;
                right: 22px;
            }
        }
    }
    &.bottom {
        &:after{
            top: 24px;
            right: 12px;
        }
        &.right {
            &:after{
                top: 22px;
                right: 7px;
            }
        }
        &.left {
            &:after{
                top: 23px;
                right: 18px;
            }
        }
    }
}
.info {
    display: block;
    position: relative;
    left: 50%;
    margin-top: 100px;
    margin-left: -25%;
    text-align: left;
    bottom: 0;
    //margin-top: 50px;
    color: #888;
    font-size: 1.1em;
    width: 480px;
    height: 150px;
}
.stats {
    display: none;
}
.copylink,.reset {
    position: relative;
    bottom: -1.1em;
    font-size: .26em;
    line-height: 1em;
}
.reset {
    right: -.4em;
    float: right;
    color: #ccc;
}
.copylink {
    left: -.4em;
    float: left;
    color: #759dc3;
}
.balloon {
    display: block;
    position: relative;
    width: 380px;
    top: -80px;
    right: -200px;
    margin: 0 auto;
    padding: 15px 10px 30px;
    border: 4px dashed #ccc;
    text-align: center;
    background: #fff;
    font: 3em/1.188em Verdana, sans-serif;
}
.balloon>p {
    overflow: hidden;
    margin: 0;
}
.balloon:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 40px;
    top: -30px;
    border: 15px solid;
    border-color: transparent transparent #ccc #ccc;
}
.balloon:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 44px;
    top: -20px;
    border: 10px solid;
    border-color: transparent transparent #fff #fff;
}
footer {
    position: absolute;
    width: 100%;
    top: 0;
    display: block;
    color: #ccc;
    font-size: .9em;
    text-align: right;
}
.small-mouth #formValue {
    border-radius: 1em;
    width: 4em;
    padding: 0.6em;
    margin-top: 0.4em;
}
#formValue, .big-mouth #formValue {
    border-radius: 10em;
    width: 4em;
}
.move-reset {
    margin: 0;
}
.move-top {
    margin-top: -3.125em;
}
.move-bottom {
    margin-top: 3.125em;
}
.move-left {
    margin-left: -6.25em;
}
.move-right {
    margin-left: 6.25em;
}
